doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/main.css')

    script(src="bower_components/underscore/underscore.js")
    script(src="bower_components/jquery/jquery.js")
    script(src="bower_components/backbone/backbone.js")

    script(src="javascripts/Session.js")
    script(src="javascripts/SessionView.js")
    script(src="javascripts/Router.js")

    script
      window.baseUrl = !{ JSON.stringify('http://localhost:3000/') };

  body
    block content